body {
  max-width: 1600px;
  margin: 0 auto;
  font-family: Raleway, sans-serif;
  font-size: 18px;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 93px 50px 94px;
  background-color: #fff;
}

.nav_list {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0;
  padding: 0;
  list-style: circle;
}

.nav_item {
  display: list-item;
  list-style-position: inside;
}

.nav_item:first-child {
  list-style-type: none;
}

.nav_link_active {
  text-decoration: none;
}

.logo {
  display: block;
  width: 137px;
}

.address {
  display: flex;
  flex-direction: column;
  font-style: normal;
}

.header_address {
  max-width: 240px;
  margin-left: auto;
  line-height: 23px;
}

.address_link {
  color: #000;
  text-decoration: underline;
}

.address_text {
  margin: 0;
}

.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 154px 51px 51px 50px;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover_title {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  margin: 0;
  color: #fff;
  font-size: 100px;
  line-height: 135px;
  letter-spacing: 0.27em;
  text-transform: uppercase;
}

.cover_word {
  margin-right: -0.27em;
}

.cover_word_left {
  align-self: flex-start;
  margin-left: 2px;
}

.cover_word_center {
  align-self: center;
}

.cover_word_right {
  align-self: flex-end;
}

.cover_footer {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  margin-top: 95px;
}

.cover_subtitle {
  color: #fff;
  font-size: 22px;
  font-weight: 100;
  line-height: 1.2;
  text-transform: uppercase;
  word-spacing: 19px;
}

.cover_button {
  padding: 12px 30px;
  border: 1px solid #fff;
  color: #fff;
  font-size: 22px;
  font-weight: 100;
  text-transform: uppercase;
  text-decoration: none;
}

.loti {
  padding: 0 24px;
}

.loti-title {
  margin-top: 180px;
  margin-left: 39px;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.loti-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 25px;
  margin-top: 26px;
  padding: 0;
  list-style: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 42px;
  height: 100%;
  padding: 51px 40px 50px;
  background-position: center;
  background-size: cover;
  color: #fff;
  text-decoration: none;
}

.card_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_painting {
  background-image: url(../images/card-lot-03.jpg);
}

.card_title {
  position: relative;
  z-index: 1;
  width: 254px;
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: underline;
}

.card_text {
  position: relative;
  z-index: 1;
  width: 254px;
  font-size: 20px;
}

.lots_more {
  display: inline-block;
  margin-top: 29px;
  margin-left: 38px;
  color: #000;
  font-size: 20px;
  font-weight: 400;
}

.about {
  display: grid;
  grid-template-columns: 240px 1fr;
  align-items: center;
  column-gap: 71px;
  padding: 155px 26px 120px 71px;
}

.about-logo {
  grid-column: 1;
  grid-row: 1;
  width: 240px;
  height: 240px;
}

.about_title {
  grid-column: 2;
  grid-row: 1;
  margin: 0;
  font-size: 40px;
  text-transform: uppercase;
}

.about_text-block {
  grid-column: 2;
  grid-row: 2;
  margin-top: 8px;
}

.about_text {
  font-size: 20px;
  line-height: 24px;
}

.about_text:not(:last-child) {
  margin-bottom: 24px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: start;
  padding: 61px 50px 85px;
}

.footer_address {
  max-width: 300px;
  line-height: 23px;
}

.footer_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer_socials {
  display: flex;
  gap: 48px;
  justify-self: end;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer_icon {
  display: block;
  width: 48px;
  height: 48px;
}

.footer_nav-link {
  color: #000;
}

.footer_nav-link_active {
  text-decoration: none;
}
